body {
  background-color: #61122f;
}

#header-nav {
  background-color: #f6b319;
}

.navbar-brand h1 {
  text-transform: uppercase;
  color: #557c3e;
  font-size: 1.5em;
  margin-top: 0px;
  font-family: 'Lora, serif';
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}

.navbar-brand p span {
  text-transform: uppercase;
  color: black;
  font-size: 0.75em;
}

#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
  }
}

#nav-list a {
  color: #951C49;
  text-align: center;
  font-size: 1.2em;
}

#nav-list a:hover {
  background-color: #E7E7E7;
}

#nav-list a span {
  font-size: 1.5em;
}

#nav-list div {
  color: #557c3e;
  font-size: 1.2em;
}

#phone a {
  font-size: 1.2em;
  margin-top: 2px;
  padding-bottom: 3px;
}

#phone div {
  padding-right: 15px;
  text-align: right;
}